<!-- myForm is a local reference variable -->
<!-- <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm"> -->
    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
        
        <h1>Registration Form</h1>
        
        <div ngModelGroup="personalDetails" #personalDetail="ngModelGroup">
          <fieldset>
            <legend><span class="number">1</span>Your basic info</legend>
              <label for="name">Name</label>
              <!-- ngModel will tell angular that this i/p element is a control of this form -->
            <input type="text" id="name" name="firstName" placeholder="Please enter your name" ngModel required  #fname="ngModel">
              <!-- <div>
                <small *ngIf="fname.invalid && fname.touched">
                  Name is a required field
                </small>
                <span *ngIf="firstName">You entered {{firstName}}</span>
              </div> -->
               <label for="email">Email</label>
            <input type="email" id="email" name="email" ngModel required email>
              
               <label for="password">Password</label>
            <input type="password" id="password" name="password" ngModel required>
              
              <label>Age</label>
              <input type="radio" id="under_13" value="under_13" name="age" ngModel><label for="under_13" class="light">Under 13</label><br>
              <input type="radio" id="over_13" value="over_13" name="age" ngModel><label for="overr_13" class="light">13 or Older</label>
              
            </fieldset>
            <div>
              <small *ngIf="!personalDetail.valid && personalDetail.touched">
                Some of the required fields doesn't have valid value
              </small>
            </div>
            <button (click)="setDefaultValues()">Set Default Values</button>
        </div>
        
        
        
        
        <fieldset>
           <legend><span class="number">2</span>Your Profile</legend>
        <textarea id="bio" name="bio" ngModel></textarea>
          
          <label for="job">Job Role</label>
          <select id="job" name="job" [ngModel]="defaultJob">
          <optgroup label="Web">
            <option value="frontend_developer">Front End Developer</option>
            <option value="backend_developer">back End Developer</option>
            <option value="cloud_developer">Cloud Developer</option>
            <option value="fullstack_developer">Full Stack Developer</option>
            </optgroup>
            <optgroup label="Mobile">
            <option value="android_developer">Android Developer</option>
            <option value="ios_developer">IOS Developer</option>
            <option value="reactnative_developer">React Native Developer</option>
            <option value="android_designer">andriod designer</option>
            </optgroup>
            <optgroup label="Business">
            <option value="business_owner">Business Owner</option>
            <option value="freelancer">Freelancerr</option>
            </optgroup>
            
            
          </select>
          
          
          
          <label>Interests</label>
          
          <input type="checkbox" id="development" value="interest_development" name="interest" ngModel><label for="development" class="light" >Development</label><br>
          <input type="checkbox" id="design" value="interest_design" name="interest" ngModel><label for="design" class="light" >Design</label><br>
          <input type="checkbox" id="business" value="interest_business" name="interest" ngModel><label for="business" class="light" >Business</label>
          
        </fieldset>
        <!-- <button type="submit" [disabled]="!myForm.valid">Sign up</button> -->
        <button type="submit" [disabled]="!myForm.valid">Sign up</button>
        <button (click)="next()">Next</button>
        
      </form>
      <div class="form-data">
          <h3>Form Data</h3>
          <p> First Name: {{firstName}} </p>
          <p> Email: {{email}}</p>
          <p> Age:{{age}} </p>
          <p>Job: {{job}} </p>
          <p> Interests: {{interest}}</p>

      </div>
      